.login {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.signup {
  display: flex;
  flex: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
}

input {
  display: inline-block;
  background-color: lightgrey;
  padding-block: 1px;
}

::selection {
  background-color: white;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: white;
  background-color: #9FBBDE;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 12rem;
  justify-content: center;

}

h2 {
  font-size: 3.5rem;
  justify-content: center;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

header {
  width: auto;
  margin: 0 auto;
  padding: 0, 2.5rem, 2.5rem, 2.5rem;
  text-align: center;
  outline: 5px orange;
}

main {
  width: auto;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  align-content: center;
  scale: 1.45;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

#appDescription {
  padding: 3rem 0 2rem 0;
  
}

.userForms {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
  padding-right: 10rem;
}
